
html, body {
  background-color: var(--background) !important;
  margin: 0;
  padding: 0;
  height: 100%; 
}

div {
/*  outline: 2px dashed blue; */
}

input{
  border:0;
}

a {
  text-decoration: none !important;
  color: var(--text);
}

a:link {
  color: var(--text);
}

a:visited {
  color: var(--text);
}

a:hover{
  color: var(--textHover);
  text-decoration:none; 
  cursor:pointer;
}

a:active {
  color: var(--text);
}

.svgIcon {
  fill: var(--icon);
}

.svgIcon:hover {
  fill: var(--iconHover);
}

.glyphicon {
  font-size: 30px;
  color: var(--icon);
}

.glyphicon:hover {
  color: var(--iconHover);
}


/* Colour variables */
:root {
  --background:rgb(28, 28, 38);
  --icon:rgb(140, 140, 140);
  --iconHover:rgb(255, 255, 255);
  --text:rgb(140, 140, 140);
  --textHover:rgb(255, 255, 255);
  --accent:rgb(255, 102, 0);
  --accentHover:rgb(255, 132, 50);

  --tlText:aquamarine;
  --tlTextHover:rgba(157, 255, 242);
  --tlVideo:lightgreen;
  --tlVideoHover:rgba(161, 255, 161);
  --tlAudio:peachpuff;
  --tlAudioHover:rgba(255, 238, 205);
  --tlTransition:plum;
  --tlTransitionHover:rgba(241, 180, 241);
  --tlEffect:palevioletred;
  --tlEffectHover:rgba(236, 132, 177);
  
  --accentTop: #383847;
  --accentSide: #2c2c38;
  --accentSideIn: #262630;
  --accentPlayBar: #262630;
  --accentProperties: #2c2c38;
  --accentTracks: #292936;
  --accentTools: #383847;
}

.placeholderTile{
  width: 100px;
  height: 100px;
  background-color: grey;
}


.placeholderTile:hover{
  background-color: lightgray;
  cursor: pointer;
}


.placeholderContainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.placeholderItem{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.accent{
  background-color: var(--accent);
}

.accent:hover{
  background-color: var(--accentHover);
}

/* */
.fileBar{
  position: relative; 
  width: 100%;
  top: 0px;
  left: 0px;
  display:grid; 
  grid-template-columns: auto auto auto auto auto 1fr auto auto; 
  background-color: var(--accentTop);
}


.center{
  position: relative; 
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto; 
}

.timeContainer{
  position: relative; 
  width: 100%;
  float:left;
  display:inline-block; 
}

/* Dropdown menus from W3 Schools */
/* Dropdown Button */
.dropbtn {
  background-color: var(--accentTop);
  color: var(--text);
  padding: 12px;
  font-size: 14px;
  border: none;
}
.dropbtnAspect {
  background-color: var(--background);
  color: var(--text);
  padding: 12px;
  font-size: 14px;
  border: none;
}
.settingsButton .dropbtn {
  background-color: var(--accentTop);
  color: var(--text);
  padding: 12px;
  font-size: 14px;
  border: none;
  width: 44px;
  height: 44px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #949494;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: var(--textHover);
}

.helpbtn{
  background-color: var(--accentTop);
  color: var(--text);
  padding: 12px;
  font-size: 14px;
  border: none;
  width: 44px;
  height:44px;
}
.helpbtn.active .helpIcon{
  fill: var(--iconHover);
}
.helpIcon{
  width: 100%;
  height: 100%;
  fill: var(--icon);
  float: right;
}

.helpIcon:hover{
  fill: var(--iconHover);
}
.helpButton{
  float: right;
}
.sliderItem{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.sliderItem:last-child{
  margin-bottom: 0px;
}

/* W3 Schools slider */
.slidecontainer {
  margin-top: 8px;
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 12px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  border-radius: 20px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 20px;
  width: 8px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: var(--accent);
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  border-radius: 20px;
  width: 10px; /* Set a specific slider handle width */
  height: 28px; /* Slider handle height */
  background: var(--accent);
  cursor: pointer; /* Cursor on hover */
}

/* */



/* center */
.componentMenu{
  position: relative; 
  height: 100%;
  float: left;
  min-width: 79px;
  background: var(--accentSide);
}

.componentList{
  position: relative; 
  height: 100%;
  display: inline-block;
  float: left;
}

.componentList:last-child{
  margin: 0px;
}

.component{
  padding: 5px;
  margin-bottom: 15px;
  position: relative; 
  height: auto;
  text-align: center;
  fill: var(--icon);
  color: var(--icon);
  border: thick solid transparent;
}

.component:hover{
  fill: var(--iconHover);
  color: var(--iconHover);
  cursor: pointer;
}

.componentText{
  font-size: 12px;
}

.componentPanel{
  color: var(--text);
}

.componentIcon{
  width: 56px;
}

.importMedia:hover{
  cursor: pointer;
}

.expandingMenu{
  position: relative; 
  width: 250px;
  text-align: center;
  height: 100%;
  float: left;
  background-color: var(--accentSideIn);
}

.player{
  
}


.preview{
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 35px);
}

.TimeLinePlayback{
  position: relative; 
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: var(--accentPlayBar);
}

.properties{
  background-color: var(--accentProperties);
  position: relative;
  width: 250px; 
  height: 100%;
  text-align: center;
  color: var(--text);
  float: left;
}


/*timeline */
.TimeButton{
  display:inline-block; 
  margin-left: 20px;
  margin-right: 20px;
}

.TimeButton:hover{
  fill: white;
}

.timeLineControls{
  position: relative; 
  width: auto;
  height: 100%;
  float: left;
  background-color: var(--accentTools);
}

.timeLineTitles{
  position: relative; 
  width: auto;
  height: 100%;
  background-color: var(--accentTracks);
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}

.timeLine{
  position: relative; 
  width: auto;

  min-width: 85%;
  max-width: 100%;

  height: 100%;
  float: left;
  overflow:hidden;
}

/**/

.timeLineContainer{
  position: relative; 
  width: 100%;
  height: 200px;
  float: left;
  color: var(--text);
}

.timeLineContainers{
  width: 100%;
  height: 100%;
  height: calc(100%-10px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.timeLineRow{
  height: 100%;
  margin-bottom: 1px;
}


.timelineIcons{
  vertical-align:middle; 
  display:table-cell; 
  font-size: 2em !important;
  fill: var(--icon);
}


.timelineElement{

}


.video{
  background-color: var(--tlVideo);
}

.video:hover{
  background-color: var(--tlVideoHover);
}


.audio{
  background-color: var(--tlAudio);
}

.audio:hover{
  background-color: var(--tlAudioHover);
}


.text{
  background-color: var(--tlText);  
}

.text:hover{
  background-color: var(--tlTextHover);  
}

.transition{
  background-color: var(--tlTransition);
}

.transition:hover{
  background-color: var(--tlTransitionHover);
}




.effect{
  background-color: var(--tlEffect);
}

.effect:hover{
  background-color: var(--tlEffectHover);
}




.timelinePlaceholder{
  visibility: hidden;
}

input{
  color: white !important;
  background: var(--icon);
}

select{
  
  color: white !important;
  background: var(--icon);
}


.inputContainer{
  text-align: center;
  margin-bottom: 5px;
}


.settingsButton{
  float:right;
}

.settingsButton .active{
  visibility: visible;
  opacity: 1;
}



.settingsMenu{
  display: none;
  z-index: 2;
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px;
  border-radius: 10px;
  background-color: #383847;
  color: var(--text);
}

.settingsMenuClose{
  position: absolute;
  background-color: #383847;
  border-radius: 10px;
  top: 0px;
  right: 0px;
}



.settingsTitle{
  display: inline-block;
}

.settingsIcon {
  fill: var(--icon); /* Icon color */
  z-index: 1; /* Ensure the icon is on top of the square */
  float:right;
}

.settingsIcon:hover {
  fill: var(--iconHover);
}


.propertyPanels{
  color: var(--text);
}

.textProperty{
  margin-top: 15px;
}

.textComponentContainer{
  color: black;
  font-size: 5em;
  opacity: 80%;
}

.svgIcons{
  width: 90%;
  color: white;
}

.aspectRatio{
  filter: invert(1);
}

.svgIcons:hover{
  opacity: 80%; 
  width: 90%;
  filter: brightness(0) invert(1); /* makes it white*/
}


.playHead{
  position:absolute;
  z-index: 3;
  margin-left: 0%;

  animation-name: timelineAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}


@keyframes timelineAnimation {
  from {margin-left: 0%;}
  to {margin-left: 100%;}
}

.noHover{
  pointer-events: none;
}





/* toggle switch */

/* The switch - the box around the slider from W3Schools*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .toggle {
  background-color: #2196F3;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

.tooltip{
  visibility: hidden;
  opacity: 0;
  color: black;
  font-size: 20px;
  background-color: var(--icon);
  width: auto;
  padding: 2px;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.ttSettings{
  right: 5px;
}

.tooltipRight{
  left: 105%;
}

.tooltipTop{
  bottom: 40px;
}
