html, body {
    background-color: var(--background) !important;
    margin: 0;
    padding: 0;
    height: 100%; 
}

/* Colour variables */
:root {
    --background:rgb(28, 28, 38);
    --icon:rgb(140, 140, 140);
    --iconHover:rgb(255, 255, 255);
    --text:rgb(140, 140, 140);
    --textHover:rgb(255, 255, 255);
    --accent:rgb(255, 102, 0);
    --accentHover:rgb(255, 132, 50);
  
    --tlText:aquamarine;
    --tlTextHover:rgba(157, 255, 242);
    --tlVideo:lightgreen;
    --tlVideoHover:rgba(161, 255, 161);
    --tlAudio:peachpuff;
    --tlAudioHover:rgba(255, 238, 205);
    --tlTransition:plum;
    --tlTransitionHover:rgba(241, 180, 241);
    --tlEffect:palevioletred;
    --tlEffectHover:rgba(236, 132, 177);
}

.container {
    position: relative;
    text-align: center; /* Center align the text */
    padding: 20px;
    width: 860px; /* Fixed width to contain all elements */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.text-container {
    width: 860px; 
    text-align: left; /* Left justify the text */
    display: inline-block; /* Ensure the container only takes up the necessary width */
    margin: 20px auto;
    color: var(--icon);
}

.settings-container {
    position: relative;
    text-align: right; /* Align the content (including the icon) to the right */
    top: 0;
    right: 0;
    padding: 0px; /* Adjust padding as needed */
    color: white; /* Set the color of the text to white */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #2c2c38;
    border: none;
    color: white;
    width: 200px; /* Set button width */
    height: 200px; /* Set button height */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 10px; /* Added margin for spacing between buttons */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background-color: #383847;
}

.button:hover .buttonText{
    color: var(--textHover);
    text-decoration: none;
}


.button:hover .plusIcon{
    filter: brightness(0) invert(1); /* makes it white*/
}

.button:hover .phoneIcon{
    filter: brightness(0) invert(1); /* makes it white*/
}

.button:hover .youtubeIcon{
    filter: brightness(0) invert(1); /* makes it white*/
}

.button:hover .instagramIcon{
    filter: brightness(0) invert(1); /* makes it white*/
}




.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonProjects {
    background-color: #2c2c38;
    border: none;
    color: var(--text);
    width: 203px; /* Set button width */
    height: 223px; /* Set button height */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px; /* Added margin for spacing between buttons */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the overflow is hidden */
}

.buttonProjects:hover{
    background-color: #383847;
    text-decoration: none;
}

.buttonProjects:hover .buttonText{
    color: var(--textHover);
    text-decoration: none;
}

.buttonProjects:hover .fileIcon{
    fill: var(--iconHover); 
}

.youtubeIcon {
    width: 70%;
    height: 70%;
    fill: var(--icon); /* Icon color */
    z-index: 1; /* Ensure the icon is on top of the square */
}

.plusIcon {
    width: 45%;
    height: 45%;
    fill: var(--icon); /* Icon color */
    z-index: 1; /* Ensure the icon is on top of the square */
}

.phoneIcon {
    width: 38%;
    height: 38%;
    fill: var(--icon); /* Icon color */
    z-index: 1; /* Ensure the icon is on top of the square */
}

.instagramIcon {
    width: 43%;
    height: 43%;
    fill: var(--icon); /* Icon color */
    z-index: 1; /* Ensure the icon is on top of the square */
}

.settingsIcon {
    width: 4%;
    height: 4%;
    fill: var(--icon); /* Icon color */
    z-index: 1; /* Ensure the icon is on top of the square */
}

.settingsIcon:hover {
    fill: var(--iconHover);
}

.fileIcon {
    width: 50%;
    height: 50%;
    fill: var(--icon); /* Icon color */
    z-index: 1; /* Ensure the icon is on top of the square */
}

.bottom-container {
    flex-grow: 1; /* Grow to fill remaining space */
    background-color: #2c2c38; /* Same color as the buttons */
    border-radius: 10px; /* Same border radius as the buttons */
    padding: 20px; /* Add padding */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Expand to the height of the parent container */
    width: calc(200px * 4 + 20px * 3); /* Total width of four buttons plus margins */
    margin: 0 auto; /* Center the bottom container horizontally */
}


  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust margin between rows */
  }
  
  .bottom-image {
    width: 180px; /* Set width equal to button width */
    height: 180px; /* Set height equal to button height */
    border-radius: 10px; /* Same border radius as the buttons */
  }

  .buttonContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonText {
    margin-top: 10px; /* Adjust as needed */
    color: var(--text);
}

.settingsIcon {
    width:44px;
    height: 44px;
    fill: var(--icon); /* Icon color */
    z-index: 1; /* Ensure the icon is on top of the square */
    float:right;
  }

